/* Start Login Form */
/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    background: url(../img/bg4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    height: 100%;
}
.navbar-brand {
    font-size: 1em;
}
.welcomedsc{
    /* background: url(../img/bg3.jpg); */
    background-repeat: no-repeat;
    /* background-size: cover; */
    height: 100% !important;
    /* align-content: center; */
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
/* End Login Form */
.added {
    background: url(../images//loginbg.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    min-width: 100%;
    min-height: 92vh;
}
.edited {
    background: url(../images//loginbg.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    min-width: 100%;
    min-height: 92vh;
}
.asterisk {
    font-size: 30px;
    position: absolute;
    right: 50px;
    top:45px;
    color: #D20707;
}
.show-pass {
    position: absolute;
    top: 53px;
    right: 19px;
    font-size: 1.5em;
}
.show-pass-login {
    position: absolute;
    top: 7px;
    right: 19px;
    font-size: 1.5em;
}
.asterisk-login {
    font-size: 30px;
    position: absolute;
    right: 55px;
    top: 0px;
    color: #D20707;
}
/* Start Member Page */
body{margin-top:20px;}
.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}
.pt-5 {
    padding-top: 3rem !important;
}
.my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}
.border-0 {
    border: 0 !important;
}
.position-relative {
    position: relative !important;
}
.shadow-lg {
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%) !important;
}
.card {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: .25rem;
}

.member-profile {
    top: -50px;
    left: 0;
}
.text-center {
    text-align: center !important;
}
.w-100 {
    width: 100% !important;
}
.position-absolute {
    position: absolute !important;
}

.member-profile img {
    width: 100px;
    height: 100px;
}
.rounded-circle {
    border-radius: 50% !important;
}
.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
}
.main-table tr:first-child td {
    background-color: #333;
    color: #FFF;
    text-align: center;
}
/* End Member Page */